In [1]:
import os, sys, pprint
import pandas as pd
import numpy as np

In [2]:
# データ作成 (NUmpy)
in_array = np.array([
        [1.5, 0],
        [0, 3.0],
        [-9.1, 99],
        [-0.01, -6.5210987],
    ])

print(type(in_array))
pprint.pprint(in_array)

<class 'numpy.ndarray'>
array([[ 1.5000000e+00,  0.0000000e+00],
       [ 0.0000000e+00,  3.0000000e+00],
       [-9.1000000e+00,  9.9000000e+01],
       [-1.0000000e-02, -6.5210987e+00]])

In [3]:
# NumPy配列をDataFrameに変換
df1 = pd.DataFrame(in_array)
pprint.pprint(df1)

print('---------------------')
pd.options.display.float_format = '{:.5f}'.format
df1 = pd.DataFrame(in_array)
pprint.pprint(df1)

      0          1
0  1.50   0.000000
1  0.00   3.000000
2 -9.10  99.000000
3 -0.01  -6.521099
---------------------
         0        1
0  1.50000  0.00000
1  0.00000  3.00000
2 -9.10000 99.00000
3 -0.01000 -6.52110

In [4]:
# 列名を設定
df1.columns = ['col1', 'col2']
print(df1)

      col1     col2
0  1.50000  0.00000
1  0.00000  3.00000
2 -9.10000 99.00000
3 -0.01000 -6.52110

In [5]:
# DFを1行ずつ処理
for idx, row in df1.iterrows():
    print('{}\t{}\t{}'.format(idx, row.col1, row.col2))

0	1.5	0.0
1	0.0	3.0
2	-9.1	99.0
3	-0.01	-6.5210987

In [28]:
for idx, row in enumerate(df1.itertuples()):
    print('{}\t{}'.format(idx, row))
    print(row[1])

0	Pandas(Index=0, col1=1.5, col2=0.0)
1.5
1	Pandas(Index=1, col1=0.0, col2=3.0)
0.0
2	Pandas(Index=2, col1=-9.1, col2=99.0)
-9.1
3	Pandas(Index=3, col1=-0.01, col2=-6.5210987)
-0.01

In [13]:
ret1 = df1.query('col1 >= 0')
print(type(ret1))
pprint.pprint(ret1)

print('---------------')

for idx, row in ret1.iterrows():
    print('{}\t{}\t{}'.format(idx, row.col1, row.col2))

<class 'pandas.core.frame.DataFrame'>
     col1    col2
0 1.50000 0.00000
1 0.00000 3.00000
---------------
0	1.5	0.0
1	0.0	3.0

In [16]:
print(df1.query('col1 >= 0 and col2 > 0'))

     col1    col2
1 0.00000 3.00000

In [17]:
print(df1.query('1.5 > col1 >= 0'))

     col1    col2
1 0.00000 3.00000

In [22]:
print(df1.query('(1.5 > col1 >= 0) and col2 == 3.0'))

     col1    col2
1 0.00000 3.00000

In [19]:
val1 = 1.5
val2 = 0.0
print(df1.query('@val1 > col1 >= @val2'))

     col1    col2
1 0.00000 3.00000